<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <title>NinjaGold</title>
</head>
<body>
    <div class="wrapper">
        <div class="count">
            Gold: {{ session['count'] }}
            <form action='/reset' method='post'>
                <button>refresh</button>
            </form>
        </div>
        <div class="FindGold">
            <span>Farm</span>
            <p>(earns 10-20 gold)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="FindGold">
            <span>Cave</span>
            <p>(earns 5-10 gold)</p>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="FindGold">
            <span>House</span>
            <p>(earns 2-5 gold)</p>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="FindGold">
            <span>Casino</span>
            <p>(earns/take 0-50 gold)</p>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="casino" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        
        
    </div>

</body>
</html>