<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Validation</title>
</head>
<body>
    <form action='/process' method='POST'>
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        Name:<input type="text" name="name">
        Dojo Location:
        <select name='location'>
        <option value="chicago">chicago</option>
        <option value="california">california</option>
        <option value="texas">taxas</option>
        <option value="florida">florida</option>
        </select> Favorite Language:
        <select name='language'>
        <option value="python">python</option>
        <option value="css">css</option>
        <option value="ruby">ruby</option>
        </select> 
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        Comment (optional): <input type='text' name='comment'>
        <input type="submit" value="Submit">

    </form>
</body>
</html>