<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="AddingWord">
            <form action='/process' method='post'>
            {% csrf_token %}
                <p>Add a new word:</p><br>
                <input type='text' name='addingWord'><br>
                <p>Choose Color:</p><br>
                <form>
                    <input type="radio" name="Red"> <p>Red</p> 
                    <input type="radio" name="Green"> <p>Green</p> 
                    <input type="radio" name="Blue"> <p>Blue</p>
                    <input type="checkbox" name="Big_Fonts"> <p>Show in BIG fonts!</p> <br>
                </form>

                <input type='submit' value='Add_Session'>
            </form>
        </div>



    </div>
</body>
</html>