<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>Delete a course</title>
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <!-- Display of table -->
        <table>
        <tr>
            <td>Name:</td>
            <td>{{course.course_name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{course.course_description}}</td>
        </tr>
        </table>
        <!-- Action of deletion -->
        <form action="/">
            <input type="submit" name="" value="No">
        </form>
        <form action="/confirm_delete/{{course.id}}" method="post">
            {% csrf_token %}
            <input style="color:white; background-color:red;" type="submit" name="" value="Yes! I want to delete this">
        </form>

  </body>
</html>