<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>

<body>
    <div class="wrapper">
        <h1>Random Word (attempt # {{counter}})</h1>
    </div>
    <p>{{string}}</p>
    <div class="generator">
        <form action='/generate'>
             {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
        <form action='/clear'>
            {% csrf_token %}
            <button>Clear</button>
        </form>
    </div>
</body>

</html>