<!DOCTYPE html>
<html>
<head>
    <title>Landing...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="wrapper">
        <h1>Ninjas</h1>
        <p>If you're a fan of Ninja there's good news and bad news. The good news is that historical Ninja did exist. The bad news is
        that we know virtually nothing about them. Reliable historical sources from the time of Ninja amount to a few scattered
        accounts. Ninja were covert agents and mercenaries (active from approximately 1450 - 1650). They were primarily from
        the clans of Iga Province and Koga village. That's what we know. Ninja grabbed the public imagination right from
        the start. They have been surrounded in myth and legend for over 500 years. Almost everything you've probably heard
        about Ninja is more myth than reality. Common myths include: 1. Ninja still exist Most (reputable) historians agree
        that Ninja (Shinobi) were active from the 15th - 17th century. This was a time of great political instability in
        Japan (Warring States Period). Japan was unified by Tokugawa Ieyasu in 1603 and the Ninja faded away. 2. You can
        learn to be a Ninja Ninja were a mystery even to their contemporaries. Historical accounts of Ninja are intriguing.
        They confirm that Ninja were skilled spies and guerrilla warfare specialists. Such documents speak little of Ninja
        training methodology. The Ninja were secretive. A total of 8 modern schools of Ninjutsu (Ninja Martial Arts) claim
        to descend from Ninja traditions. Some claim to trace their linage back to the 12th century (hundreds of years before
        the Ninja first appeared). Most Japanese martial arts experts and historians agree that the link between modern Ninjutsu
        and the historical Ninja is tenuous at best.</p>
        <span>For more <a href="https://www.japan-talk.com/jt/new/8-ninja-myths">CLICK HERE</a>...</span>
    </div>
</body>

</html>