<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action='/post_message' method='POST'>
            <textarea rows="5" cols="20" name="text_area"> </textarea>
            <input type="submit" value="POST">
        </form>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
            
        <table>
            {% for message in post_messages: %}
            <tr>
                <td>{{message['first_name']}} - {{message['message_date']}}, {{message['year_name']}}</td>
            </tr>
            <tr>
                <td>{{message['message']}}</td>

                <!-- <td>{{message['message']}}</td> -->
                <td>
                    <form action='/post_comments' method='POST'>
                        <input type="hidden" value="{{message['id']}}" name="message_id">
                        <textarea rows="5" cols="20" name="text_area"> </textarea>
                        <input type="submit" value="Comment">
                    </form>
                </td>
                
            </tr>
                {% for comment in post_comments: %}
                    {%if comment['message_id'] == message['id']%}
            <tr>
                <td>{{comment['name']}} - {{comment['comment_date']}}, {{message['year_name']}}</td>
                <td>{{comment['comment']}}</td>
            </tr>
                    {%endif%}
                {% endfor %}


            {% endfor %}
        </table>
        


</body>
</html>